<div class="modal-wrapper" *ngIf="modalOpen">
  <div class="modal">
    <a class="modal__close" (click)="closeModal()">
      <fa-icon class="modal__close__icon" [icon]="faTimes"></fa-icon>
    </a>
    <div class="modal__body">
      <div class="modal__header">
        <h1>Ajouter un article</h1>
      </div>
      <div class="modal__content">

        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="form.get('name')?.invalid && form?.get('name')?.touched">
              Veuillez saisir un nom valide
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prix</mat-label>
            <input matInput type="text" formControlName="unitPrice">
            <mat-error *ngIf="form.get('unitPrice')?.invalid && form?.get('unitPrice')?.touched">
              Veillez saisir un prénom valide
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Quantité</mat-label>
            <input matInput type="text" formControlName="quantity">
            <mat-error *ngIf="form.get('quantity')?.invalid && form?.get('quantity')?.touched">
              Veillez saisir un prénom valide
            </mat-error>
          </mat-form-field>

          <button #validateButton class="button-primary" (click)="addArticle()" [disabled]="form.invalid">
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
