<section>
  <div class="container-80">
    <div class="card-top">
      <h1>Mon panier :</h1>
    </div>

    <div class="cart-wrapper">
      <ng-container *ngFor="let item of panierService.panier">
        <app-panier-item [item]="item"></app-panier-item>
      </ng-container>
    </div>
    <p class="command-validee" *ngIf="panierService.message">
      {{panierService.message}}
    </p>
    <button class="btn btn-primary" (click)="panierService.validateOrder()">Passer commande</button>
  </div>
</section>
