.cart-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.btn-primary{
  border-radius: 10px;
}

.command-validee{
  background-color: rgba(58, 178, 58, 0.3);
  color: rgb(35, 110, 35);
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 1rem;
}
