<section>
  <div class="container-80">
    <div class="card-top">
      <h1>Articles :</h1>

      <a (click)="openModal()">Ajouter un article</a>
    </div>

    <div class="agenda-wrapper">
      <app-agenda-card *ngFor="let agenda of agendaService.agenda" [article]="agenda"></app-agenda-card>
    </div>
  </div>
</section>
<app-add-contact></app-add-contact>
