<div class="card-learn">
  <h2>{{article?.name}} <span>({{article?.unitPrice}}€)</span></h2>
  <a (click)="panierService.addArticle(article)" class="card-learn__arrow">
    <img src="/assets/images/icons/shopping-cart.svg">
  </a>

  <div class="card-learn__profil">
        Quantité: {{article?.quantity}}
  </div>
</div>
