.card-learn{
  width: 100%;
  max-width: 100%;
  height: 300px;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 20px;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  h2{
    text-align: center;

    span{
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &__arrow{
    border-radius: 20px;
    background-color: var(--agenda-blue);
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
    text-align: center;
    padding: 4px 20px;

    img{
      margin-top: 4px;
    }
  }

  &__image{
    width: 500px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__profil{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .plus{
      background-color: #cccccc;
      color: #020C18;
      border-radius: 50%;
    }
  }
}
