<nav class="container" [ngClass]="{'scroll' : isScroll}">
  <div class="nav-container p-rl-1">
    <div class="nav-wrapper">
      <div class="nav-menu-container">
        <button class="menu-toggle" (click)="toggleMenu()">
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
          <span class="menu-bar"></span>
        </button>
        <div class="nav-menu" [ngClass]="{'menu-open': menuOpen}">
          <a routerLink="/">Accueil</a>
        </div>
      </div>
    </div>
    <div class="nav-end">
      <a routerLink="/panier" class="mon-compte">
        <img src="assets/images/icons/shopping-cart.svg" alt="Mon compte">
      </a>
      <div class="search">
      </div>
    </div>
  </div>
</nav>
