nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all 0.5s ease;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.scroll {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.nav-container {
  width: 100%;
  height: 80px;
  max-width: 80rem;
  margin: 0 auto;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  align-items: center;

  .nav-menu {
    display: flex;

    a {
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: var(--font-md);
      margin-left: 70px;
      color: var(--dark-blue);
      padding: 10px;
      width: fit-content;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.nav-end {
  display: flex;
  align-items: center;

  .mon-compte {
    display: flex;
    align-items: center;
    font-weight: 900;
    background-color: #08388B;
    padding: 10px;
    border-radius: 10px;
  }

  .user-square {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--agenda-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  position: relative;

  .menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--dark-blue);
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .menu-bar {
      background-color: var(--agenda-blue);
    }
  }
}


@media (max-width: 767px) {
  .nav-wrapper {
    .nav-menu-container {
      .menu-toggle {
        display: block;
      }
      .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 10;

        &.menu-open {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        a {
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
