<section>
  <div class="container-40">
    <div class="card-top">
      <h1>{{agenda.name}}</h1>

      <a (click)="openModal()">
        <img src="assets/images/icons/element-plus.svg">
      </a>
    </div>

    <div class="agenda-contact-wrapper">
    </div>
  </div>
</section>
