.login-section{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.right, .left{
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  width: 45% !important;
  background-color: var(--agenda-blue);
}

.right{
  min-width: 320px;
}

.title-login{
  margin-bottom: 2rem;
}

.logo-login{
  width: 100px;
  padding: 1rem;
}

.login-form-wrapper{
  padding: 1rem;
  width: 400px;
  max-width: 100%;
  z-index: 5;

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;

    .mat-mdc-form-field{
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    .mat-mdc-text-field-wrapper::after{
      background-color: var(--agenda-blue);
    }
  }
}

.password-wrapper{
  position: relative;
}

.divider{
  width: 100%;
  height: 1px;
  background-color: var(--agenda-blue);
  margin: 1rem 0;
  position: relative;

  span{
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 0.5rem;
    color: var(--agenda-blue);
  }
}

.no-account{
  text-align: center;
  margin-top: 2rem;

  a{
    color: var(--agenda-blue);
    text-decoration: underline;
    margin-left: 1rem;
  }
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.title-left{
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
